<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .box{
  margin-left: 30px;
  margin-top: 60px;
  
  width: 70%;
  border-radius: 10px;
  border: 3px rgb(99, 125, 104) solid;
  box-shadow: 8px 6px 6px 6px rgba(128, 146, 232, 0.2), 8px 8px 8px 8px rgba(186, 121, 234, 0.19);
}
p{
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  color: rgb(222, 222, 233);
}
*{
    background-color: rgb(32, 28, 28);
}
h1{
    
    color: aliceblue;
    
}
    </style>
</head>
<body>
    

    <div class="box" style="background-color:#8e8cba">
        <h1>About</h1>
        <p class="h4 Bootstrap heading">
            This website is my final project as a full-stack developer using EJS templates,
            Joi, Mongoose, bcryptjs, express-session, Node.js, Express.js, and MongoDB. 
            I am passionate about building web applications, and I have learned a lot about
            these technologies through this project.
            <br>
            <br>
            EJS templates are a powerful templating engine that allows me to render dynamic content
            on my website. 
            <br>
            
            Joi is a validation library that I use to validate user input and prevent
            errors. 
            <br>
            
            Mongoose is an object data modeling library that I use to interact with my 
            MongoDB database. 
            <br>
           
            bcryptjs is a password hashing library that I use to store user 
            passwords securely. 
            <br>
          
            express-session is a middleware that I use to implement user 
            authentication and authorization. 
            <br>
            
            Node.js is a JavaScript runtime environment that
            allows me to build scalable and performant server-side applications. 
            <br>
        
            Express.js is a web application framework that provides a simple and efficient way to build web 
            applications. 
            <br>
           
            MongoDB is a document-oriented NoSQL database that is well-suited for
            storing and retrieving data for web applications.
            <br>
           
            I am very proud of the work that I have done on this project. I have learned a lot about 
            full-stack web development, and I have also built a website that is useful and informative.
            If you have any feedback or suggestions for my website, please feel free to contact me at.
            <br>
            <a href="/blog">blog-post</a>
            
        </p>
        
        </div>
      
  
</body>
</html>