<!DOCTYPE html>
<html lang="en">
<head>

    <title>Profile form</title>
 <style>
    body{
        background: rgb(41, 14, 66);
    }
    .container{
        width: 300px;
        height: 100px;
        background: rgb(95, 95, 30);
        margin-top: 50px;
        margin-left: 50px;
    }
   input{
    background: gold;
   }
   
 </style>
</head>
<body>
    <form method="POST" action="/profile-upload-multiple" enctype="multipart/form-data">
        <div>
            <label>Upload multiple profile picture</label>
            <input type="file" name="profile-files" required multiple  />
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>
    
</body>
</html>